#menu{
    width: 100%;
    height: 60px;
    background: dimgray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}
.menu-learn{
    width: 25%;
    height: 60px;
    flex: 1;
    display: flex;
    flex-flow: column;
justify-content: center;
    align-items: center;
}

.top-p{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 30px;
    width:30px ;
}
.bottom-t{
    height: 20px;
    width:80px ;
    font-size: 6px;
    color: white;
    text-align: center;
    line-height: 20px;
}

.ll{
    display: flex;
    flex-flow: row nowrap;
}